github_data_with_readmes.csv filter=lfs diff=lfs merge=lfs -text
repos-min-1000stars.json filter=lfs diff=lfs merge=lfs -text
data/github_data_with_readmes.csv filter=lfs diff=lfs merge=lfs -text
data/repos-min-1000stars.json filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/model.safetensors filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/special_tokens_map.json filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/tokenizer_config.json filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/training_args.bin filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-1416 filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-4248 filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/merges.txt filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/vocab.json filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-2832 filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/config.json filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/tokenizer.json filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-2832/model.safetensors filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-4248/config.json filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-4248/model.safetensors filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-1416/model.safetensors filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-1416/optimizer.pt filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-2832/config.json filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-2832/scheduler.pt filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-2832/trainer_state.json filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-2832/training_args.bin filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-4248/scheduler.pt filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-4248/trainer_state.json filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-1416/rng_state.pth filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-1416/scheduler.pt filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-2832/optimizer.pt filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-4248/training_args.bin filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-1416/config.json filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-1416/scaler.pt filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-1416/training_args.bin filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-4248/optimizer.pt filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-4248/rng_state.pth filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-4248/scaler.pt filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-1416/trainer_state.json filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-2832/rng_state.pth filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-2832/scaler.pt filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/checkpoint-*/* filter=lfs diff=lfs merge=lfs -text
outputs/step2_classification/distilroberta_github_classifier/* filter=lfs diff=lfs merge=lfs -text
