github_data_with_readmes.csv filter=lfs diff=lfs merge=lfs -text
repos-min-1000stars.json filter=lfs diff=lfs merge=lfs -text
data/github_data_with_readmes.csv filter=lfs diff=lfs merge=lfs -text
data/repos-min-1000stars.json filter=lfs diff=lfs merge=lfs -text
